* {
    box-sizing: border-box;
}

html, body {
    background-color: #E2E8DD;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* github fork icon */

.github-corner svg {
    position: absolute;
    right: 0;
    top: 0;
    mix-blend-mode: darken;
    color: #ffffff;
    fill: #000000;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave .56s;
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-20deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}

.submit {
    border-radius: 4px;
    background-color: #ff9245;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 280px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 6%;
}

.submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.submit:hover span {
    padding-right: 25px;
}

.submit:hover span:after {
    opacity: 1;
    right: 0;
}

.back span:after {
    content: '\00ab';
}

.tut {
    margin-left: 45px;
}

.switch-field {
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
}

.switch-field input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: #ff9245;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

pre {
    font-size: large;
    background-color: white;
    min-height: 100px;
    height: auto;
    width: auto;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

pre.analyzed {
    border: lightblue 4px solid;
}

pre.original {
    border: #ff9245 4px solid;
}

.symbol {
    /* display: block; */
    text-align: center;
    height: 148px;
    max-height: 148px;
    margin-bottom: 0em;
    font-weight: 700;
    font-size: 84px;
    color: green;
}

/* footer */

.footer {
    background-color: #370617;
    text-align: center;
    margin-top: auto;
    width: 100%;

}

.footer-content {
    margin-top: 20px;
}

.btn-social-icon{
color: #E2E8DD;
}
.btn-social-icon:hover{
color: #ff9245;
}

.portfolio__link{
text-decoration: none;
color: #E2E8DD;
}

.portfolio__link:hover{
text-decoration: none;
color: #ff9245;
}