<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block title %}
    {% endblock title%}
    <link rel="icon"
        href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/facebook/230/input-symbol-for-latin-letters_1f524.png"
        type="image/icon type">
</head>

<body>
    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ff9245;">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <a class="navbar-brand" href="#" style="position: relative;">TextUtils</a>
                {% block header %}
                {% endblock header%}
            </div>
            <!-- git fork -->
            <a href="https://github.com/meetdaxini/textutils" title="Fork me on GitHub" class="github-corner" target="_blank"><svg
                    width="58" height="58" viewBox="0 0 250 250">
                    <title>Fork me on GitHub</title>
                    <path d="M0 0h250v250"></path>
                    <path
                        d="M127.4 110c-14.6-9.2-9.4-19.5-9.4-19.5 3-7 1.5-11 1.5-11-1-6.2 3-2 3-2 4 4.7 2 11 2 11-2.2 10.4 5 14.8 9 16.2"
                        fill="currentColor" style="transform-origin:130px 110px" class="octo-arm"></path>
                    <path
                        d="M113.2 114.3s3.6 1.6 4.7.6l15-13.7c3-2.4 6-3 8.2-2.7-8-11.2-14-25 3-41 4.7-4.4 10.6-6.4 16.2-6.4.6-1.6 3.6-7.3 11.8-10.7 0 0 4.5 2.7 6.8 16.5 4.3 2.7 8.3 6 12 9.8 3.3 3.5 6.7 8 8.6 12.3 14 3 16.8 8 16.8 8-3.4 8-9.4 11-11.4 11 0 5.8-2.3 11-7.5 15.5-16.4 16-30 9-40 .2 0 3-1 7-5.2 11l-13.3 11c-1 1 .5 5.3.8 5z"
                        fill="currentColor" class="octo-body"></path>
                </svg>

            </a>
            <!--// git fork -->


        </nav>

    </header>
    <!-- // header -->

    {% block content %}
    {% endblock content%}
    <!-- footer -->
    <div class="footer">
        <div class="footer-content">
            <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/meetdaxini/" target="_blank"
                onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-linkedin']);">
                <span class="fa fa-linkedin"></span></a>
            <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/mitdaxini/" target="_blank"
                onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-instagram']);"><span
                    class="fa fa-instagram"></span></a>
            <a class="btn btn-social-icon btn-github" href="https://github.com/meetdaxini" target="_blank"
                onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-github']);"><span
                    class="fa fa-github"></span></a>
        </div>

    </div>
    <!-- //footer -->

    <!-- javascript  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    

</body>

</html>