{% extends 'base.html' %}

{% block title %}
<title>Features</title>
{% endblock title%}

{% block header %}
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="#">Features <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tutorials">Tutorials</a>
  </li>
</ul>
{% endblock header%}

{% block content %}
<div class="container">
  <br><br>
  <h3>This website offers the following features:</h3>
  <ol>
    <li> Punctuation Remover</li>
    <li>Space Remover</li>
    <li>New Line Remover</li>
    <li>UPPERCASE</li>
    <li>lowercase</li>
    <li>Character Count</li>
  </ol>


  <br><button onclick="window.location.href='/';" class="submit back"><span>Back</span></button>

</div>
{% endblock content%}